body {
    font-family: 'Inter', sans-serif;
    
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#afc4da;
}

.upper-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.gif-container img {
    width: 100%;
    height: 100%;
    filter: blur(3px); 
    position: absolute;
    top: 0;
    left: 0;
}

.logo-and-about {
    position: relative;
    z-index: 2; 
    text-align: center;
    color: white;
}

.logo-and-about .logo {
    max-width: 175px; /* Increased size */
    margin-bottom: 0px;
}

.logo-and-about p {
    font-size: 1.2em; 
    font-style: italic; 
    font-weight: bold;
    text-wrap: wrap; 
    /* max-width: 500px; */
}

/* LOWER HALF */

/* LOWER HALF */

.lower-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afc4da;
    flex-wrap: wrap; /* Ensure responsiveness */
}

.button-container {
    display: flex;
    flex-direction: row; /* Arrange buttons in a row */
    flex-wrap: wrap; /* Wrap buttons on smaller screens */
    justify-content: center;
}

.button-container button {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
    color: black;
    font-size: 1.2em;
    width: 300px; /* Increased width */
    height: 150px; /* Increased height */
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container button .button-title {
    margin-bottom: 5px; /* Spacing between title and description */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.button-container button .button-description {
    display: block; /* Always display, but initially small and transparent */
    font-size: 0; /* Initially hide text */
    opacity: 0; /* Initially transparent */
    transition: font-size 0.3s ease-in-out, opacity 0.3s ease-in-out;
    color: black;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.button-container button:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}

.button-container button:hover .button-title {
    transform: translateY(-100%);
    opacity: 0; /* Hide title on hover */
}

.button-container button:hover .button-description {
    font-size: 0.8em; /* Show and enlarge description text */
    opacity: 1; /* Make description visible */
}

.button-container a, /* Target the links in the button container */
.button-container button, /* Target the buttons */
.button-container button .button-title, /* Target the title in the buttons */
.button-container button .button-description { /* Target the description in the buttons */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent element */
    /* Add any other styles you need for your text */
}