.centered-text {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
}